:root {
    --theme-color-nav: rgb(213, 213, 213);
    --theme-color-back: rgb(255, 255, 255);
    --theme-color-keys: rgb(191, 191, 191);
    --theme-color-keys-secondary: rgb(191, 191, 191);
    --theme-color-text: rgb(0, 0, 0);
    --theme-color-burger: rgb(64, 64, 64);
}

/* html {
    background: var(--theme-color-back);
}

body {
    background: var(--theme-color-back);
} */

.navbar {
    background: var(--theme-color-nav);
    height: auto;
}

.navbar .btn {
    background: var(--theme-color-nav);
}

.navbar .burger {
    width: 2em;
    height: 0.2em;
    background-color: var(--theme-color-burger);
    margin: 0.25em 0;
    border-radius: 0.2em;
}

.navbar div {
    background-color: var(--theme-color-nav);
    color: var(--theme-color-text);
}

.navbar input {
    color: var(--theme-color-text);
}

.navbar label {
    color: var(--theme-color-text);
}

.main-container {
    height: 99vh;
    left: 0;
    display: flex;
    flex-direction: column;
}

.game-container {
    background-color: var(--theme-color-back);
    display: flexbox;
    flex-grow: 5;
}

canvas {
    border: 2px solid #000000;
    width: 100%;
}

.button-container {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    background: red;
    flex-grow: 1;
}

.show-status-row {
    display: inline-flex;
    padding: 20px;
    justify-content: space-evenly;
}

.show-status-row p {
    display: flex;
}

.button-row-1 {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
}

.button-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
}

.button-row-3 {
    display: grid;
    border: 1px solid black;
}

.up-button {
    display: grid;
    place-items: center;
}

.left-button {
    display: grid;
    place-items: center;
}

.right-button {
    display: grid;
    place-items: center;
}

.down-button {
    display: grid;
    place-items: center;
}


/*Modal stuff */
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: pink;
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  #box{
    width: 500px;
    overflow: hidden;
    background: pink;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
  }
  
  #box span{
    color: hotpink;
    font-size: 40px;
    display: block;
    margin: 20px 0;
  }
  
  #box h1{
    color: brown
  }
  
  .close{
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(111, 111, 223);
    display: inline-block;
    border-radius: 1px solid #000;
  }