:root {
    --theme-color-nav: rgb(213, 213, 213);
    --theme-color-back: rgb(255, 255, 255);
    --theme-color-keys: rgb(191, 191, 191);
    --theme-color-keys-secondary: rgb(191, 191, 191);
    --theme-color-text: rgb(0, 0, 0);
    --theme-color-burger: rgb(64, 64, 64);
}

/* html {
    background: var(--theme-color-back);
}

body {
    background: var(--theme-color-back);
} */

.navbar {
    background: var(--theme-color-nav);
    height: auto;
}

.navbar .btn {
    background: var(--theme-color-nav);
}

.navbar .burger {
    width: 2em;
    height: 0.2em;
    background-color: var(--theme-color-burger);
    margin: 0.25em 0;
    border-radius: 0.2em;
}

.navbar div {
    background-color: var(--theme-color-nav);
    color: var(--theme-color-text);
}

.navbar input {
    color: var(--theme-color-text);
}

.navbar label {
    color: var(--theme-color-text);
}

.main-container {
    height: 99vh;
    left: 0;
    display: flex;
    flex-direction: column;
}

.game-container {
    background-color: var(--theme-color-back);
    display: flexbox;
    flex-grow: 4;
}

canvas {
    border: 2px solid #000000;
}

.button-container {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    background: red;
    flex-grow: 1;
}

.show-status-row {
    display: inline-flex;
    justify-content: space-evenly;
}

.show-status-row p {
    display: flex;
    /* margin: 0px 70px 0px 70px; */
}

.button-row-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid black;
}

.button-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
}

.button-row-3 {
    display: grid;
    border: 1px solid black;
}

.up-button {
    display: grid;
    place-items: center;
}

.left-button {
    display: grid;
    place-items: center;
}

.right-button {
    display: grid;
    place-items: center;
}

.down-button {
    display: grid;
    place-items: center;
}

/* .snake{

    position: absolute;
    background-color: black;
    height: 1vh;
    width: 1vh;
    place-items: center;
    ;

} */
